* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.AppContent {
	padding: 15px;
	width: 800px;
	margin: 0 auto;
}

.sortWrapper {
	margin-bottom: 7px;
	display: flex;
	justify-content: space-between;
}

.remove-btn {
	margin-right: 0.5rem;
}

.post-enter {
	opacity: 1;
	transform: translate(-200px);
	transition: all 500ms ease-in;
}

.post-enter-active {
	transform: translateX(0px);
	transition: all 500ms ease-in;
}

.post-exit {
	opacity: 1;
}

.post-exit-active {
	opacity: 0;
	transform: translateX(-200px);
	transition: all 500ms ease-in;
}

.preloader {
	text-align: center;
}