* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.AppContent {
	padding: 15px;
	width: 800px;
	margin: 0 auto;
}

.sortWrapper {
	margin-bottom: 7px;
	display: flex;
	justify-content: space-between;
}